Requirements


> Get More Data []
    - https://www.kaggle.com/datasets/hacker>news/hacker>news/data
    - that a lot of data and most of it I dont need (low/nil score)
    - Query api for scores over x?

> Make a model to accurately predict score from title []
    - Try optimizing using just small amount of data first
    - If not possible, get more data

> Make a model to generate titles []

> Make ^ model generate models optimised for ^^ model []
